node_modules
.next
dist
.env
.env.local
coverage
*.log
.turbo
playwright-report
test-results
.artifacts
apps/*/.env
apps/*/.env.local

.vercel
.env*

.env*.local
.vercel
apps/web/.vercel
hosting/vars-tmp.json

